/* global css  */
.hot {
    color: #f40 !important; /*优先级最高*/
}

/* nav start */

.site-nav {
    width: 100%;
    height: 35px;
    background: #f5f5f5;
    border-bottom: 1px solid #eee; /*下边框线*/
}

.site-nav-bd {
    width: 1190px;
    height: 35px;
    margin: 0 auto; /*居中*/
    line-height: 35px; /*文字垂直居中*/
}

.site-nav-bd-l {
    width: 300px;
    height: 35px;
    float: left; /*左浮动*/
}

.site-nav-bd-l li {
    float: left;
    margin-right: 20px;
}

.site-nav-bd-r {
    width: 600px;
    height: 35px;
    float: right; /*右浮动*/
}

.site-nav-bd-r li {
    float: left;
}

.site-nav-bd-r li .star {
    width: 12px;
    height: 10px;
    background: url("../images/star_03.png") no-repeat; /*不平铺*/
    display: block; /*span是行内元素，转成块状元素*/
    float: left; /*左浮动*/
    margin: 12px 6px 0 6px; /*上右下左*/
}

/* 收藏夹：小星星变色 */
.collect a:hover .star {
    background: url("../images/starred_03.png") no-repeat; /*不平铺*/
}

.arrow {
    width: 4px;
    height: 2px;
    background: url("../images/arrow_06.png") no-repeat;
    display: block;
    float: left;
    margin: 16px 10px 0 10px;
}

.site-nav-bd-r li a {
    float: left;
}

.site-nav-bd-r li .car {
    height: 11px;
    background: url("../images/car_03.png") no-repeat;
}

.arrow-red {
    background: url("../images/arrowred_03.png") no-repeat;
}

.line {
    margin: 0px 21px 0px 21px;
    color: #e1dde1;
}

/* adv start */
.adv {
    width: 100%;
    height: 90px;
    background: #fbbd2c;
}

.adv div {
    width: 1190px;
    height: 90px;
    margin: 0 auto;
}

/*top start*/
.top {
    width: 1190px;
    height: 100px;
    margin: 0 auto;
    padding-top: 30px;
}

.logo {
    width: 250px;
    height: 100px;
    float: left;
}

.logo div {
    width: 140px;
    height: 58px;
    background: url("../images/spirit.png") no-repeat;
    margin-top: 8px;
}

.logo div a {
    width: 140px;
    height: 58px;
    display: block;
    text-indent: -2000em; /*让文字飞到屏幕外面*/
}

.search {
    width: 760px;
    height: 100px;
    float: left;
}

.search-hd {
    height: 25px;
}

.search-hd li {
    width: 50px;
    height: 25px;
    float: left;
    text-align: center;
    line-height: 25px;
}

.search-hd li.current {
    background: #ff5400;
    font-weight: bold;
    color: #fff;
}

.search-bd {
    height: 40px;
}

.search-bd-l {
    width: 722px;
    height: 40px;
    float: left;
    background: pink;
}

.search-input {
    width: 618px;
    height: 34px;
    background: #ff5500;
    padding: 3px 0px 3px 3px;
    float: left;
}

.search-input div {
    width: 618px;
    height: 34px;
    background: #fff;
    position: relative; /*父相*/
}

.search-input div input {
    width: 618px;
    height: 22px;
    padding: 6px 0;
    border: 0; /*文本框去掉边框*/
}

.search-input div i {
    width: 12px;
    height: 12px;
    position: absolute; /*子绝*/
    left: 12px;
    top: 12px;
    background: url("../images/fdj_06.png") no-repeat;
}

.search-input div span {
    position: absolute;
    left: 31px;
    top: 9px;
    color: #9c9c9c;
}

.search-input div s {
    width: 17px;
    height: 16px;
    position: absolute; /*子绝*/
    background: url("../images/fdj_03.png") no-repeat;
    right: 9px;
    top: 10px;
}

.search-button {
    width: 100px;
    height: 40px;
    float: left;
}

.search-button button {
    width: 100px;
    height: 40px;
    border: 0 none;
    background: #ff4200;
    font-size: 20px;
    color: #fff;
    letter-spacing: 5px; /*控制文字间距离*/
    text-align: center;
    line-height: 40px;
    font-weight: bold; /*文字加粗*/
}

.search-bd-r {
    width: 38px;
    height: 40px;
    float: right;
    text-align: right;
}

.search-ft {
    width: 722px;
    height: 35px;
    line-height: 35px;
    position: relative;
}

.search-ft a {
    margin-right: 5px;
}

.search-ft .more {
    position: absolute;
    border: 1px solid #ccc;
    padding: 5px;
    line-height: 12px;
    right: -5px;
    top: 3px;
}

.search-ft .more:hover {
    background: #f40;
    color: #fff;
}

.code {
    width: 94px;
    height: 112px;
    float: right;
    border: 1px solid #CCC;
    margin-top: -19px;
    position: relative; /*相对定位*/
}

.code span {
    display: block;
    text-align: center;
    padding-top: 6px;
    color: #ff4400;
}

.code img {
    margin-left: 8px;
}

.code s {
    width: 18px;
    height: 18px;
    background: url("../images/code_03.png") no-repeat;
    /*display: block;*/
    position: absolute; /*如果是绝对定位，就是块元素。*/
    border: 1px solid #CCCCCC;
    top: -1px;
    left: -20px;
    cursor: pointer; /*手型*/
}

/*screen start*/
.screen {
    width: 1190px;
    height: 525px;
    margin: 0 auto;
}

.service {
    width: 190px;
    height: 525px;
    float: left;
}

.service-hd {
    height: 35px;
    line-height: 35px;
    background: #f40;
    color: #fff;
    font-size: 16px;
    padding-left: 14px;
    font-weight: bold;
}

.service-bd {
    border: 1px solid #f40;
    border-top: 0;
    height: 489px;
}

.service-bd dt {
    height: 28px;
    line-height: 28px;
    padding: 5px 9px 0;
    font-size: 14px;
    font-weight: bold;
}

.service-bd dt s {
    width: 19px;
    height: 19px;
    background: url("../images/spire.png") no-repeat -110px -98px;
    display: inline-block;
    vertical-align: middle; /*行内块移动秘诀*/
    margin-top: -3px; /*行内块移动长度*/
    margin-right: 5px;
}

.catbox div {
    padding: 0 7px 0 12px;
    border: 2px solid #fff; /*f00*/
    height: 22px;
    line-height: 22px;
    border-left-width: 1px;
    border-right-color: #fff;
    font-size: 0;
    position: relative;
}

.catbox div a {
    width: 37px;
    display: inline-block;
    font-size: 12px;
}

.catbox div i {
    width: 5px;
    height: 7px;
    background: url("../images/arrow-service_03.png") no-repeat;
    position: absolute;
    right: 10px;
    top: 8px;
}

.service-bd dt.special s {
    width: 20px;
    height: 16px;
    background: url("../images/spire.png") no-repeat -201px -104px;
}

.special-dd {
    margin: 0 9px;
    padding: 0 0 8px 5px;
    line-height: 22px;
    font-size: 0;
}

.special-dd a {
    width: 58px;
    display: inline-block;
    font-size: 12px;
    position: relative;
}

.special-dd .c37 {
    width: 37px;
}

.special-dd .c65 {
    width: 65px;
}

.special-dd .c51 {
    width: 51px;
}

.special-dd a i {
    width: 9px;
    height: 14px;
    background: url("../images/hot.gif") no-repeat;
    position: absolute;
    top: 0;
    right: 10px;
}

.last {
    margin: 0 9px;
    padding: 1px 0 5px 5px;
    border-top: 1px solid #e6e7eb;
}

.wrap {
    width: 990px;
    height: 525px;
    float: right;
}

.wrap-hd {
    height: 34px;
    border-bottom: 2px solid #f40;
    margin-bottom: 7px;
}

.nav-hd, .nav-bd {
    margin-top: 4px;
    height: 30px;
    line-height: 30px;
    float: left;
}

.nav-hd li {
    margin: 0 9px;
    float: left;
}

.nav-hd li a {
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
    font-weight: bold;
    /*font-family: "宋体";*/
    color: #f40;
}

.nav-hd li a:hover {
    background: #f4f4f4;
}

.nav-bd li {
    float: left;
    margin-left: 14px;
    font-size: 14px;
    /*font-family: "宋体";*/
    font-weight: bold;
    color: #3c3c3c;
}

.nav-bd .pipe {
    margin-left: 6px;
    font-weight: normal;
    color: #f40;
}

.nav-bd li a {
    padding: 0 5px;
    display: inline-block;
}

.nav-bd li a:hover {
    background: #f4f4f4;
    color: #f40;
}

.wrap-bd {
    height: 482px;
}

.wrap-bd-l {
    width: 520px;
    height: 482px;
    float: left;
}

.banner {
    height: 280px;
    position: relative;
}

.banner ul {
    width: 70px;
    height: 9px;
    _background: #ccc;
    padding: 2px 0;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
}

.banner ul li {
    width: 9px;
    height: 9px;
    margin-left: 4px;
    background: rgb(183, 183, 183);
    float: left;
    border-radius: 50%;
    cursor: pointer;
    _display: inline;
    overflow: hidden;
}

.banner ul li.current {
    background: #f40;
}

.banner a {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    margin-top: -20px;
}

.banner a i {
    width: 15px;
    height: 23px;
    display: block;
    background: url("../images/sprite.png") no-repeat -150px -310px;
    margin: 10px 0 0 12px;
}

.banner .left {
    left: 10px;
}

.banner .left i {
    background-position: -150px -335px;
}

.banner .right {
    right: 10px;
}

.tmall {
    width: 520px;
    height: 198px;
    margin-top: 4px;
    background: darkcyan;
    overflow: hidden; /*溢出隐藏*/
    position: relative;
}

.tmall-box {
    width: 530px;
}

.tmall-box img {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    float: left;
}

.tmall s {
    width: 32px;
    height: 11px;
    background: url("../images/spire.png") no-repeat -146px -120px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    bottom: 0;
    overflow: hidden; /*ie6*/
}

.wrap-bd-c {
    width: 170px;
    height: 482px;
    float: left;
    margin-left: 3px;
}

.wrap-bd-c-t {
    height: 280px;
    margin-bottom: 3px;
}

.wrap-bd-r {
    width: 290px;
    height: 482px;
    float: right;
}

.notice {
    height: 98px;
    border: 1px solid #eee;
}

.notice-hd {
    height: 27px;
    background: lightgray;
}

.notice-bd {
    height: 71px;
    background: lightcoral;
}